@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-color: #e2f1e7;
  --header-color: #629584;
  --font-color: #243642;
  --btn-bg-color: #387478;
  --btn-hover-color: #42868b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  all: unset;
  cursor: pointer;
  font-family: inherit;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--bg-color);
  padding: 0 20px;
}

header {
  max-width: 2000px;
  background-color: var(--header-color);
  margin: 0 auto 40px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 12px 36px;
  border-radius: 10px;
  font-size: 1.125rem;
  background-color: var(--btn-bg-color);
}

button:hover,
button:focus {
  background-color: var(--btn-hover-color);
}

#book-list {
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.card {
  background-color: var(--header-color);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  #book-list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 1200px) {
  #book-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 740px) {
  header {
    padding: 20px;
  }
  #book-list {
    grid-template-columns: repeat(1, 1fr); /* 1 columns */
  }
}
