@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-color: #e2f1e7;
  --header-color: #629584;
  --font-color: #243642;
  --btn-bg-color: #387478;
  --btn-hover-color: #42868b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  all: unset;
  cursor: pointer;
  font-family: inherit;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--bg-color);
  position: relative;
}

header {
  max-width: 1500px;
  background-color: var(--header-color);
  margin: 0 auto 40px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
  padding: 12px 36px;
  border-radius: 10px;
  font-size: 1.125rem;
  background-color: var(--btn-bg-color);
}

button:hover,
button:focus {
  background-color: var(--btn-hover-color);
}

#book-list {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.card {
  background-color: var(--header-color);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.book-title {
  line-height: 1;
  font-size: 2rem;
}

.card-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#hidden-container {
  display: none;
}

#bookForm {
  color: var(--font-color);
  background-color: var(--bg-color);
  border: 2px solid var(--font-color);
  width: 400px;
  padding: 20px;
  position: absolute;
  top: 124px; /* Move the card to the middle vertically */
  left: 50%; /* Move the card to the middle horizontally */
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
}

#bookForm input {
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 6px 0 6px 6px;
}

.read-container {
  margin: 10px 0;
}

.read-btn {
  color: var(--bg-color);
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  #book-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 740px) {
  header {
    padding: 16px;
  }

  #addBookButton {
    font-size: 1rem;
    padding: 8px 16px;
  }
  #book-list {
    grid-template-columns: repeat(1, 1fr); /* 1 columns */
  }
}
